@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  body {
    @apply w-screen h-screen font-sans text-lg text-black transition-colors duration-500;
    height: -webkit-fill-available;
    -webkit-overflow-scrolling: touch;

    scrollbar-width: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold font-plex;
  }
}

@layer utilities {
  .aspect-ratio-card {
    padding-bottom: 62.5%;
  }

  @supports (aspect-ratio: 4 / 3) {
    .aspect-ratio-card {
      aspect-ratio: 16 / 10;
      padding-bottom: 0;
    }
  }
}
